<div class="main">
  <!-- navbar -->
  <nav class="navbar">  
    <div class="logo">
      <h1>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"><span>shm-app</span></a>
      </h1>
    </div>
    <div class="navbar-items">
      <div class="navbar-item">
        <a routerLink="/brokers" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Brokers</span></a>
      </div>
      <div class="navbar-item">
        <a routerLink="/sensors" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Sensors</span></a>
      </div>
      <div class="navbar-item">
        <a routerLink="/logs" routerLinkActive="active" ariaCurrentWhenActive="page"><span>Logs</span></a>
      </div>
    </div>
    <div class="right-menu">
      <!-- <div class="navbar-item">
        <span class="dropdown">
            <i class="selected-device">{{ selectedDevice  }}<fa-icon [icon]="faAngleDown"></fa-icon></i>
            <div class="dropdown-devices">
              <p  *ngFor="let log of accounts" (click)="selectDevice(log.deviceID)"><fa-icon [icon]="faUserAlt"></fa-icon>{{log.deviceID}}</p>
            </div>
          </span>
      </div> -->
      <div class="user">
        <img src="{{profilePath}}" alt="">
        <div class="user-menu">
          <div class="row-one">
            <fa-icon [icon]="faUser"></fa-icon>
            <span>isan</span>
          </div>
          <div class="row-two">
            <a routerLink="/profile" class="profile">
              <fa-icon [icon]="faUserAlt"></fa-icon>
              <span>Profile</span>
            </a>
            <a  routerLink="/setting" class="setting">
              <fa-icon [icon]="faGear"></fa-icon>
              <span>Setting</span> 
            </a>
            <span class="logout" (click)="logout()">
              <fa-icon [icon]="faSignOut"></fa-icon>
              <span>Logout</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-left-text">
          <p>Copyright 2024 ng-Front</p>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right-text">
          <p>ng-Front</p>
          <!-- <p>{{ currentDateAndTime }}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>