<div class="sensors">
  <div class="title">
    <h3>Sensors</h3>
  </div>

  <div class="sensors-form">
    <div class="form-control">
      <label for="sensor-name">Name</label>
      <input
        class="form-input"
        id="sensor-name"
        type="text"
        placeholder="sensor name"
        name="sensor-name"
      />
    </div>
    <div class="form-control">
      <label for="sensor-data">Data</label>
      <input
        class="form-input"
        id="sensor-data"
        type="text"
        placeholder="sensor data"
        name="sensor-data"
      />
    </div>
    <div class="form-control">
      <span></span>
      <input class="btn" type="submit" value="Submit" />
    </div>
  </div>

  <div class="top-table">
    <div class="show-limit">
      <label for="show">Show: </label>
      <select>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
      </select>
      <label for="entries">Entries</label>
    </div>

    <div class="search">
      <input type="text" placeholder="search" />
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="check"></th>
        <th>Name</th>
        <th>Data</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensors">
        <td><input type="checkbox" name="" id="{{ sensor.id }}" /></td>
        <td>{{ sensor.name }}</td>

        <td>{{ sensor.data }}</td>
        <td>{{ sensor.time }}</td>
        <td>
          <fa-icon
            [icon]="faTrash"
            class="delete-icon"
            (click)="showDeleteModal()"
          ></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-table">
    <div class="page-no">
      <p>Showing 1 to {{ sensors.length }} of {{ sensors.length }} entries</p>
    </div>
    <div class="page-buttons">
      <button class="prev-button">Prev</button>
      <button class="next-button">Next</button>
    </div>
  </div>
</div>

<div class="modal" [hidden]="modalDeleteON">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Delete Log</h2>
      <fa-icon [icon]="faClose" (click)="closeDeleteModal()"></fa-icon>
    </div>
    <div class="modal-body">
      <p>are you sure delete this item?</p>
    </div>
    <div class="modal-btns">
      <button (click)="closeDeleteModal()">Cancel</button>
      <button class="delete-btn" (click)="deleteFile()">Delete</button>
    </div>
  </div>
</div>
