# Python
*.pyc
__pycache__/
env/
*.sqlite3

# Django
*.log
db.sqlite3
/staticfiles/
back_end/staticfiles/
back_end/dummy2.json
back_end/dummy.json
back_end/media/sensor_images/*
back_end/media/vehicle_images/*

# Node/Angular
node_modules/
dist/
.angular/

# OS
.DS_Store
Thumbs.db

.env