<div class="brokers">
  <div class="title">
    <h3>Brokers</h3>
    <h4 (click)="toggleForm()">Add Broker</h4>
  </div>

  <form
    class="form-group"
    [formGroup]="brokerForm"
    (ngSubmit)="onSubmit()"
    *ngIf="formON"
  >
    <div class="form-control">
      <label for="device_name">Name</label>
      <input
        id="device_name"
        class="form-input"
        type="text"
        formControlName="device_name"
        required
      />
    </div>
    <div class="form-control">
      <label for="sensor_type">Sensor Type</label>
      <input
        id="sensor_type"
        class="form-input"
        type="text"
        formControlName="sensor_type"
        required
      />
    </div>
    <div class="form-control">
      <label for="url_path">URL</label>
      <input
        id="url_path"
        class="form-input"
        type="text"
        formControlName="url_path"
        required
      />
    </div>
    <div class="form-control">
      <label for="status">Status</label>
      <div class="form-toggle">
        <input type="checkbox" formControlName="status" class="toggle" />
        <span>{{ brokerForm.get("status")?.value ? "ON" : "OFF" }}</span>
      </div>
    </div>
    <div class="form-control">
      <input
        class="btn"
        type="submit"
        value="Submit"
        value="{{ isEditMode ? 'Update' : 'Create' }}"
      />
    </div>
  </form>

  <div class="important-info">
    <h3>This network uses Cloud Discovery</h3>
    <ul>
      <li>10 devices max</li>
      <li>10 gateways, 1 application max</li>
      <li>99.9% guaranteed uptime</li>
      <li>For evaluation and proof-of-concepts</li>
    </ul>
    <p>Manage cloud subscription</p>
  </div>

  <app-dynamic-table
    [data]="paginatedData"
    [columns]="columns"
    [isAuthenticated]="this.isAuthenticated"
    (edit)="editBroker($event)"
    (delete)="showDeleteModal($event)"
  />

  <app-delete-data-modal
    [visible]="modalDeleteON"
    [title]="'Delete Broker Connection'"
    [message]="'Are you sure you want to delete this item?'"
    (cancel)="closeDeleteModal()"
    (confirm)="deleteBroker()"
  />

  <app-login-modal
    [visible]="loginModalON"
    (cancel)="closeLoginModal()"
    (login)="handleLogin($event)"
  />
</div>
