<div class="vehicle_detail">
  <div class="title">
    <h3>Vehicle</h3>
    <h4>{{ vehicleID }}</h4>
  </div>
  <div class="detail" *ngFor="let vehicle of dataVehicle">
    <div class="vehicle">
      <img
        class="vehicle_img"
        [src]="getImage(vehicle.image_path)"
        alt="{{ vehicle.name }}"
      />
      <h3 class="vehicle_name">{{ vehicle.name }}</h3>
    </div>
    <div
      *ngIf="vehicle.end_devices?.length > 0; else noDevices"
      class="sensors"
    >
      <h4 class="sub-title">Sensors</h4>
      <p>These sensors are attached here</p>
      <div class="sensor-list" *ngFor="let sensor of vehicle.end_devices">
        <img [src]="getImage(sensor.image_path)" alt="" />
        <ul>
          <li class="device_name">{{ sensor.device_name }}</li>
          <li><h4 class="data-label">Device ID</h4> <h4 class="data-text">: {{ sensor.device_id }}</h4> </li>
          <li><h4 class="data-label">Status</h4> <h4 class="data-text">: {{ sensor.device_status }}</h4> </li>
          <li><h4 class="data-label">Position x</h4><h4 class="data-text">: {{ sensor.position_x }}%</h4></li>
          <li><h4 class="data-label">Position y</h4> <h4 class="data-text">: {{ sensor.position_y }}%</h4></li>
          <li><h4 class="data-label">Latitude</h4><h4 class="data-text">: {{ sensor.last_data?.latitude }}</h4> </li>
          <li><h4 class="data-label">Longitude</h4> <h4 class="data-text">: {{ sensor.last_data?.longitude }}</h4> </li>
        </ul>
      </div>
    </div>
    <div class="map-container">
      <div [id]="'map-' + vehicle.name"></div>
    </div>
    <ng-template #noDevices class="sensors">
      <p class="sensors">No sensors assigned to this vehicle.</p>
    </ng-template>
  </div>
</div>
