.lora {
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px #939393;
  padding: 1rem;

  .title {
    margin-bottom: 1rem;
    display: flex;
    justify-items: center;

    .loading-lora {
      margin-left: 0.5rem;
      color: red;
      font-weight: 500;
      text-transform: capitalize;
    }

    h3 {
      flex: 1;
      color: #113c60;
      font-weight: bold;
      font-size: large;
      text-transform: uppercase;
      background-color: rgba($color: #6d87c8, $alpha: 0.3);
      border-radius: 5px;
      padding: 0.5rem;
    }
    h4 {
      background-color: rgba($color: green, $alpha: 0.3);
      color: green;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 13px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      transition: background-color 0.2s ease, transform 0.1s ease;

      &:hover {
        background-color: rgba(0, 100, 0, 1);
        color: #f7f7f7;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }

  .info {
    background-color: #fff;
    color: #0c336d;
    margin-bottom: 2rem;
    padding: 0.5rem;

    h4 {
      margin-bottom: 0.5rem;
    }
  }

  .tab-nav {
    display: flex;
    gap: 0.2rem;
    margin-left: 0.5rem;

    a {
      text-decoration: none;
      padding: 0.5rem;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      border-radius: 5px 5px 0 0;
      color: rgba($color: #0c336d, $alpha: 1);
      border-left: 2px solid #0c336d;
      border-right: 2px solid #0c336d;
      border-top: 2px solid #0c336d;
    }

    .active-tab {
      background-color: rgba($color: rgb(10, 47, 84), $alpha: 1);
      color: #fff;
      //   box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.5);
    }
  }

  .tab-content {
    padding: 1rem;
    // margin: 1rem;
    min-height: 500px;
    border: 3px solid #0c336d;
    border-radius: 5px;
  }
}
