<div class="sensors">
  <div class="title">
    <h3>Sensors</h3>
    <h4 (click)="toggleForm()">Add Sensor</h4>
  </div>

  <form
    class="sensors-form"
    #deviceForm="ngForm"
    (ngSubmit)="onSubmit(deviceForm)"
    *ngIf="formON"
  >
    <div class="form-control">
      <label for="device_name">Device Name</label>
      <input
        class="form-input"
        id="device_name"
        type="text"
        placeholder="sensor name"
        ngModel
        name="device_name"
      />
    </div>
    <div class="form-control">
      <label for="image_path">Image Path</label>
      <input
        class="form-input"
        id="image_path"
        type="text"
        placeholder="image path"
        ngModel
        name="image_path"
      />
    </div>
    <div class="form-control">
      <label for="device_status">Device Status</label>
      <div class="form-toggle">
        <input
          type="checkbox"
          [(ngModel)]="isOn"
          name="toggleSwitch"
          class="toggle"
        />
        <span>{{ isOn ? "ON" : "OFF" }}</span>
      </div>
    </div>
    <div class="form-control">
      <span></span>
      <input class="btn" type="submit" value="Submit" />
    </div>
  </form>

  <div class="top-table">
    <div class="show-limit flex items-center gap-2">
      <label for="show">Show:</label>
      <select (change)="onPageSizeChange($event)">
        <option *ngFor="let size of [5, 10, 20, 50]" [value]="size">
          {{ size }}
        </option>
      </select>
      <label>Entries</label>
    </div>

    <div class="search flex items-center gap-2">
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (input)="onSearch(searchTerm)"
        class="border px-2 py-1 rounded"
      />

      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="check"></th>
        <th>Name</th>
        <th>Status</th>
        <th>Image Path</th>
        <th *ngIf="isAuthenticated">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="isLoading">
        <td colspan="5" class="loading">Loading sensor data...</td>
      </tr>
      <tr *ngFor="let sensor of dataSensor">
        <td><input type="checkbox" name="" id="{{ sensor.id }}" /></td>
        <td>{{ sensor.device_name }}</td>
        <td>{{ sensor.device_status }}</td>
        <td>{{ sensor.image_path }}</td>
        <td *ngIf="isAuthenticated">
          <fa-icon
            [icon]="faTrash"
            class="delete-icon"
            (click)="showDeleteModal(sensor.id)"
          ></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-table flex justify-between items-center mt-4">
    <div class="page-no">
      <p>
        Showing {{ (currentPage - 1) * pageSize + 1 }} to
        {{ Math.min(currentPage * pageSize, allSensors.length) }} of
        {{ allSensors.length }} entries
      </p>
    </div>

    <div class="page-buttons flex gap-2">
      <button class="prev-button px-3 py-1 border rounded" (click)="prevPage()">
        Prev
      </button>
      <button class="next-button px-3 py-1 border rounded" (click)="nextPage()">
        Next
      </button>
    </div>
  </div>
</div>

<div class="modal" [hidden]="modalDeleteON">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Delete Sensor</h2>
      <fa-icon [icon]="faClose" (click)="closeDeleteModal()"></fa-icon>
    </div>
    <div class="modal-body">
      <p>are you sure delete this item?</p>
    </div>
    <div class="modal-btns">
      <button (click)="closeDeleteModal()">Cancel</button>
      <button class="delete-btn" (click)="deleteFile()">Delete</button>
    </div>
  </div>
</div>
