.education{
    
    .title{
        h4{
            font-weight: 500;
            margin-bottom: 1rem;
        }

        li{
            margin-left: 1rem;
            font-size: 14px;
        }
    }

}