.chat {
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px #939393;
  padding: 1rem;

  .title {
    margin-bottom: 1rem;
  }

  .chat-box {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 3px 3px #555545;
    border: 0.2px solid #555545;
    
    .user {
      text-align: right;
      margin: 15px 0;
      background-color: rgba($color: #3207a8, $alpha: 0.2);
      padding: 0.5rem;
      border-radius: 0 10px 10px 10px;
    }
    .ai {
      text-align: left;
      margin: 5px 0;
      background-color: rgba($color: #007c5f, $alpha: 0.2);
      padding: 0.5rem;
      border-radius: 0 10px 10px 10px;
    }
  }

  .message-text {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px #555545;
    // background-color: grey;
    border: 0.1px solid #555545;
    margin-right: 0.5rem;
    width: 90%;
    font-size: 12px;

    &:focus,
    &::after {
      border: 0.1px solid #555545;
    }
  }

  .msg-btn {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px #555545;
    background-color: blue;
    color: #f7f7f7;
    width: 9%;

    &:hover {
      cursor: pointer;
      box-shadow: none;
    }
  }
}
