<div class="sensorchart">
  <div class="title">
    <h3>Data Viewers</h3>
    <h4>Refresh</h4>
  </div>
  <div *ngIf="isLoading">Loading sensor data...</div>

  <div *ngIf="!isLoading">
    <div *ngFor="let deviceId of uniqueDeviceIds" class="chart-block">
      <h4>{{ deviceId }}</h4>
      <canvas #chartCanvas></canvas>
    </div>
  </div>

  <!-- <div class="ship-container">
    <img src="{{ shipHull }}" class="ship-image" />
    <div
      *ngFor="let sensor of sensors"
      class="sensor-lamp"
      [style.top.%]="sensor.y"
      [style.left.%]="sensor.x"
      [ngClass]="getLampClass(sensor.value)"
    >
      <div class="tooltip">{{ sensor.name }}</div>
    </div>
  </div> -->

  <div class="ship-container">
  <img
    src="{{ shipHull }}"
    class="ship-image"
    (click)="placeSensor($event)"
  />
    <div class="grid-overlay"></div>
  <div
    *ngFor="let sensor of sensors"
    class="sensor-icon"
    [style.left.%]="sensor.x"
    [style.top.%]="sensor.y"
  >
    {{ sensor.icon }}
    <div class="tooltip">{{ sensor.name }}<br />x: {{ sensor.x }}%, y: {{ sensor.y }}%</div>
  </div>
</div>

</div>
