.chat {
  //   border-radius: 5px;
  //   background-color: #f7f7f7;
  //   box-shadow: 5px 5px 5px #939393;
  //   padding: 1rem;

  .title {
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    background-color: #f7f7f7;
    border-radius: 5px;
  }

  .ai-typing {
    font-style: italic;
    color: #888;
    margin-top: 4px;
  }

  .content {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #939393;
    padding: 1rem;
  }

  .chat-box {
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 1rem;
    border-radius: 5px;

    .user {
      text-align: right;
      margin: 15px 0;
      background-color: rgba($color: #3207a8, $alpha: 0.2);
      padding: 0.5rem;
      border-radius: 0 10px 10px 10px;
    }
    .ai {
      text-align: left;
      margin: 5px 0;
      background-color: rgba($color: #007c5f, $alpha: 0.2);
      padding: 0.5rem;
      border-radius: 0 10px 10px 10px;
    }
  }

  .message-text {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    border: 0.1px solid rgba($color: #555545, $alpha: 0.5);
    margin-right: 0.5rem;
    width: 90%;
    font-size: 12px;
    transition: border 0.2s;
    &:focus,
    &:active {
      border: 0.1px solid rgba($color: #555545, $alpha: 0.2);
      outline: none;
    }
  }

  .msg-btn {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #939393;
    background-color: #113c60;
    color: #f7f7f7;
    width: 9%;

    &:hover {
      cursor: pointer;
      box-shadow: none;
    }
  }
}

::ng-deep markdown h1,
::ng-deep markdown h2 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

::ng-deep markdown ol {
  margin-left: 1.25rem;
  line-height: 1.6;
}

::ng-deep markdown p {
  margin-bottom: 0.75rem;
}
