<div class="team">
  <div class="title">
    <h3>Team</h3>
    <h4>Load Team</h4>
  </div>
  <div class="members">
    <div class="member">
      <img
        class="member-profile-img"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.nrZ3jeu-rf065DEoSH7tyQAAAA%3Fpid%3DApi&f=1&ipt=d948d650f66d047f2dd3ae4fd131a40ee3421b9bb6aae0d0c27240bbeea60a6a&ipo=images"
        alt="tarik ozkul"
      />
      <div class="detail">
        <h3>Prof. Dr. Tarik OZKUL</h3>
        <h4>Istanbul Sabahattin Zaim University</h4>
        <h5>Innovator, Lecturer, Enterprenoure</h5>
      </div>
    </div>
    <div class="member">
      <img
        class="member-profile-img"
        src="https://media.licdn.com/dms/image/v2/C4E03AQHy3gVouicRQA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1650289815700?e=1760572800&v=beta&t=VL_9JDXYAUlYGVZwGG0f93FaaIp2iq1yzerLjcboALY"
        alt="halit kaplan"
      />
      <div class="detail">
        <h3>Dr. Halit KAPLAN</h3>
        <h4>Istanbul Sabahattin Zaim University</h4>
        <h5>Innovator, Lecturer, Enterprenoure</h5>
      </div>
    </div>
    <div class="member">
      <img
        class="member-profile-img"
        src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=i4c0zwYAAAAJ&citpid=1&authuser=1"
        alt="mohammad ikhsan"
      />
      <div class="detail">
        <h3>Mohammad Ikhsan Bin Zakaria B.Sc, M.IT</h3>
        <h4>Istanbul Sabahattin Zaim University</h4>
        <h5>Software Developer</h5>
      </div>
    </div>
  </div>
</div>
