<div class="main">
  <!-- navbar -->
  <nav class="navbar">
    <div class="logo">
      <h1>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
          ><span>SHM</span>
        </a>
      </h1>
    </div>
    <div class="navbar-items">
      <div class="navbar-item">
        <a
          routerLink="/sensors"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span>Sensors</span></a
        >
      </div>

      <div class="navbar-item">
        <a
          routerLink="/brokers"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span>Brokers</span></a
        >
      </div>
      <div class="navbar-item">
        <a
          routerLink="/vehicles"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span>vehicles</span></a
        >
      </div>
      <div class="navbar-item">
        <a
          routerLink="/dataset"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><span>Dataset</span></a
        >
      </div>
    </div>
    <div class="right-menu">
      <div class="user">
        <img src="{{ profilePath }}" alt="" (click)="openMenu()" />
        <div class="user-menu" *ngIf="isOpen">
          <div class="row-one" *ngIf="isLoggedIn">
            <fa-icon [icon]="faUser"></fa-icon>
            <span>{{ username }}</span>
          </div>
          <div class="row-two">
            <span class="logout" (click)="logout()" *ngIf="isLoggedIn">
              <fa-icon [icon]="faSignOut"></fa-icon>
              <span>Logout</span>
            </span>
            <span class="logout" (click)="login()" *ngIf="!isLoggedIn">
              <fa-icon [icon]="faUserAlt"></fa-icon>
              <span>Login</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-menus">
      <fa-icon
        [icon]="isMenu ? faXmark : faBars"
        class="menu-toggle"
        (click)="toggleMenu()"
      ></fa-icon>

      <div class="menu-items" *ngIf="isMenu">
        <ng-container *ngFor="let item of menuLinks">
          <div class="menu" (click)="toggleMenu()">
            <a
              [routerLink]="item.link"
              routerLinkActive="active"
              aria-current="page"
            >
              <span>{{ item.label }}</span>
            </a>
          </div>
        </ng-container>

        <div class="user-menu">
          <span class="logout" *ngIf="isLoggedIn" (click)="logout()">
            <fa-icon [icon]="faSignOut"></fa-icon>
            <span>Logout</span>
          </span>
          <span class="logout" *ngIf="!isLoggedIn" (click)="login()">
            <fa-icon [icon]="faSignOut"></fa-icon>
            <span>Login</span>
          </span>
        </div>
      </div>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-left-text">
          <p>Copyright 2024 ikhzan</p>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right-text">
          <p>Mohammad Ikhsan</p>
          <p>{{ currentTime }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-login-modal
  [visible]="isLoginModalVisible"
  (login)="handleLogin($event)"
  (cancel)="isLoginModalVisible = false"
></app-login-modal>
