.notfound{
    border-radius: 5px;
    margin: 2rem 2rem;
    
    .title{
        margin-bottom: .5rem;
        h3{
            color: #113c60;
            font-weight: bold;
            font-size: xx-large;
        }
    }
}