/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

p {
  font-size: 13px;
  font-weight: normal;
}

.error,
.high {
  background-color: red;
  color: #fff;
}
.disconnected,
.elevated {
  background-color: orange;
  color: #000;
}
.connected,
.safe {
  background-color: green;
  color: #f7f7f7;
}
.moderate {
  background-color: yellow;
}
.critical {
  background-color: #c0392b;
  color: #fff;
  box-shadow: 0 0 10px #e74c3c;
  animation: pulse 1s infinite;
}
.emergency {
  background-color: #8e44ad;
  color: #f7f7f7;
}

table {
  width: 100%;
  border-collapse: collapse;
  height: 50px;
  overflow: auto;

  .delete-icon {
    color: red;
    font-size: 14px;
  }

  thead {
    background-color: #113c60;
    color: azure;

    .toggle-sort {
      cursor: pointer;
    }

    th {
      padding: 10px;
      text-align: left;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  tbody {
    border: none;

    tr {
      transition: 0.4s;
      font-size: 11px;

      &:hover {
        box-shadow: 0px 0px 10px #939393;
        cursor: pointer;
      }
    }

    tr:nth-child(even) {
      background-color: #b5c1cb;
    }

    tr:nth-child(odd) {
      color: rgb(105, 105, 112);
    }

    td {
      font-size: 13px;
      padding: 7px;
      border: 0.5px solid #7d8d9b;
      text-align: left;
      font-weight: 500;

      span {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        color: #113c60;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  table {
    display: block; // Change to block for mobile
    overflow-x: auto; // Allow horizontal scrolling
    min-height: 400px;
    width: 100%;

    th,
    td {
      display: block; // Stack cells
      text-align: right; // Align text to the right
      position: relative; // Position relative for pseudo-elements
    }

    td::before {
      content: attr(data-label); // Use data-label for headers
      position: absolute;
      left: 0;
      width: 50%; // Adjust width as needed
      padding-left: 10px; // Add padding
      font-weight: bold; // Make it bold
      text-align: left; // Align text to the left
    }
  }
}

.show-limit {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    margin-right: 5px;
    margin-left: 5px;
  }

  select {
    appearance: none;
    width: 100%;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    padding: 5px;
  }
}

.top-table {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search {
    margin: 0.5rem;
    border: 0.2px solid #c5cdd5;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: #fff;

    input[type="text"] {
      padding: 0.3rem;
      border-radius: 10px;
      border: none;
      font-size: 13px;

      &:focus {
        outline: none;
      }
    }

    fa-icon {
      margin: 0.2rem;
      padding: 0.3rem 0.5rem;
      border-radius: 5px 5px;
      background-color: #c5cdd5;
      font-size: 12px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.bottom-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .page-control {
    display: flex;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

    button {
      padding: 5px 10px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      color: #333;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s ease;

      &.active {
        background-color: #ccc;
      }
    }
  }

  .page-no {
    font-size: 14px;
  }

  .page-buttons {
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
    align-items: center;

    .next-button,
    .prev-button {
      background-color: #c1d8f7;
      color: #000;
      border: none;
      padding: 5px 10px;
      font-size: 13px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        transition: 0.2s;
        box-shadow: 0px 0px 5px #939393;
      }
    }
  }
}

.info {
  background-color: #0fadd5;
  color: #d3edf3;
}

.success {
  background-color: #059c44;
  color: #d3e3d9;
  padding: 0.2rem;
}

.error,
.failed {
  background-color: #7a0c00;
  color: #ebdfdd;
  padding: 0.2rem;
}

.warn {
  background-color: #f1c40f;
  color: #56470d;
}

.warning {
  color: #d9534f;
  font-size: 0.875rem;
  margin-top: 4px;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --webkit-animation-name: animatetop;
    animation-name: animatetop;
    animation-duration: 0.4s;

    @keyframes animatetop {
      from {
        top: -200px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      background-color: rgb(1, 38, 69);
      color: #fff;
      border-radius: 5px 5px 0 0;

      h2 {
        font-size: 15px;
      }
      fa-icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .modal-body {
      padding: 1rem;
      min-height: 60px;

      p {
        font-size: 13px;
      }
    }

    .modal-btns {
      display: flex;
      // justify-content: space-between;
      width: 20%;
      margin: 10px 10px;

      button {
        padding: 5px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
        }
      }

      .delete-btn {
        background-color: #f44336;
        color: #fff;

        &:hover {
          background-color: #ff9800;
          cursor: pointer;
        }
      }

      .login-btn {
        background-color: #113c60;
        color: #fff;
      }
    }
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-group {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #666;
  width: 48%;
  background-color: #eee;

  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    option {
      padding: 0.5rem;
      background-color: #fff;
      color: #333;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;

    .message {
      width: 25%;
    }

    .btns {
      flex: 1;
      display: flex;
      gap: 1rem;

      .btn-cancel {
        flex: 1;
        background-color: #c5cdd5;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 2px 2px #666;

        &:hover {
          box-shadow: none;
        }
      }

      .btn-submit {
        flex: 1;
        background-color: #113c60;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1px 2px 2px #666;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  .form-control {
    margin-bottom: 0.6rem;
    display: flex;
    align-items: start;
    justify-content: left;

    label,
    span {
      padding: 0.5rem;
      width: 200px;
      font-size: 13px;
      font-weight: 500;
    }

    .form-input {
      padding: 0.5rem;
      margin-left: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgba($color: white, $alpha: 1);
      font-size: 13px;
      width: 100%;

      &:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    .form-toggle {
      margin-left: 1rem;
      display: flex;
      justify-content: start;
      background-color: rgba($color: white, $alpha: 1);
      width: 100%;
      padding-left: 0.5rem;

      .toggle {
        font-size: 1rem;
      }
    }

    .btn {
      border: none;
      width: 100%;
      padding: 0.5rem;
      background-color: #113c60;
      color: white;
      border-radius: 5px;
      box-shadow: 1px 1px 1px #939393;

      &:hover {
        cursor: pointer;
        box-shadow: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .form-group {
    width: 100%;
  }
}
